body,
html {
  background-color: #dbdcdb;
}
.main {
  margin: 50px 15px;
}
h1.title {
  font-size: 50px;
}
.table > tbody > tr > td {
  padding: 10px 20px 10px 20px;
}
hr {
  width: 10%;
  color: #fff;
}
.form-group {
  margin-bottom: 15px;
}
label {
  margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}
.border-shadow {
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}
.main-userform {
  margin: 0 auto;
  min-width: 400px;
  padding: 10px 40px;
  background: #009edf;
  color: #FFF;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  border-radius: 2px;
}
.form-control {
  height: auto!important;
  padding: 8px 12px !important;
}
.input-style {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21);
}
.input-gender {
  background-color: #ffffff;
  color: #000000;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}
.radio-gender {
  width: inherit;
}
.submit-button {
  margin-top: 5px;
  background-color: #3670b9;
}
.user-table {
  background-color: #ffffff;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}
.validate-input {
  font-weight: bold;
  color: #ff2617;
  margin-top: 5px;
}
